*.annot
*.cmi
*.cmo
*.cmx
*.o
makefile.deps
makefile.local
bin/
lib/
src/parsers/Calculuslexer.ml
src/parsers/Calculusparser.ml
src/parsers/Calculusparser.mli
src/parsers/K3lexer.ml
src/parsers/K3parser.ml
src/parsers/K3parser.mli
src/parsers/Sqllexer.ml
src/parsers/Sqlparser.ml
src/parsers/Sqlparser.mli
